html, body {
  overflow-x: hidden;
  width: 100%;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
  
.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}
  
.bg-light-o {
  --bs-bg-opacity: 0.9;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.hover-effect {
  transition: transform 0.3s ease;
}
  
.hover-effect:hover, .hover-effect:focus {
  transform: scale(1.1);
}

.animate-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(120, end), blink-caret .75s step-end infinite;
  width: 29ch;
}

.yt-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  scale: 0.975;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#newsletter-iframe-div {
  width: 60%;
  padding-bottom: 25%;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 512px) {
  .animate-text {
    animation: typing 1.5s steps(120, end), blink-caret .75s step-end infinite;
    width: 29ch;
  }

  #old_pfp {
  scale: 0.9;
  }

  #spotify {
    scale: 0.9;
    margin-top: -150px;
    margin-bottom: -150px;
  }

  #instagram {
    scale: 0.9;
    margin-top: -125px;
    margin-bottom: -150px;
  }

  #social_accounts {
    scale: 0.95;
    margin-top: -100px;
    margin-bottom: -100px;
  }

  #currently_building {
    scale: 0.9;
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .yt-container {
    scale: 0.95;
    right: 2.5px;
  }

  #gamebody:hover {
    transform: none;
  }
}

@media (max-width: 1400px) {
  #newsletter-iframe-div {
    padding-bottom: 30%;
  }
}

@media (max-width: 1200px) {
  #newsletter-iframe-div {
    padding-bottom: 40%;
  }
}

@media (max-width: 991px) {
  #newsletter-iframe-div {
    padding-bottom: 55%;
  }
}

@media (max-width: 767px) {
  #newsletter-iframe-div {
    width: 75%;
    padding-bottom: 70%;
  }
}

@media (max-width: 575px) {
  #newsletter-iframe-div {
    padding-bottom: 70%;
  }

  #newsletter-iframe {
    scale: 0.9;
  }
}

@media (max-width: 512px) {
  #newsletter-iframe-div {
    padding-bottom: 75%;
  }

  #newsletter-iframe {
    scale: 0.85;
  }
}

@media (max-width: 480px) {
  #newsletter-iframe-div {
    padding-bottom: 80%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 445px) {
  #newsletter-iframe-div {
    padding-bottom: 85%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 425px) {
  #newsletter-iframe-div {
    padding-bottom: 90%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 400px) {
  #newsletter-iframe-div {
    padding-bottom: 95%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 378px) {
  #newsletter-iframe-div {
    padding-bottom: 100%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 360px) {
  #newsletter-iframe-div {
    padding-bottom: 105%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 345px) {
  #newsletter-iframe-div {
    padding-bottom: 110%;
  }

  #newsletter-iframe {
    scale: 0.8;
  }
}

@media (max-width: 330px) {
  #newsletter-iframe-div {
    padding-bottom: 115%;
  }

  #newsletter-iframe {
    scale: 0.75;
  }
}

@media (max-width: 320px) {
  #newsletter-iframe-div {
    padding-bottom: 120%;
  }

  #newsletter-iframe {
    scale: 0.75;
  }
}

@media (max-width: 305px) {
  #newsletter-iframe-div {
    padding-bottom: 125%;
  }

  #newsletter-iframe {
    scale: 0.75;
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 24ch; }
}
  
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}