.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
  
.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
  
.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}
  
.bg-light-o {
  --bs-bg-opacity: 0.9;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.hover-effect {
  transition: transform 0.3s ease;
}
  
.hover-effect:hover, .hover-effect:focus {
  transform: scale(1.1);
}
  
.animate-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(120, end), blink-caret .75s step-end infinite;
}
  
@media (max-width: 512px) {
  .animate-text {
    animation: typing 1.5s steps(120, end), blink-caret .75s step-end infinite;
  }
}
  
@keyframes typing {
  from { width: 0; }
   to { width: 100%; }
}
  
@keyframes blink-caret {
  from, to { border-right-color: transparent; }
  50% { border-right-color: black; }
}
  
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}